Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  portability-*,
  modernize-use-override,
  readability-duplicate-include,
  readability-misleading-indentation
WarningsAsErrors: ''
HeaderFilterRegex: '.*/(compiler|runtime|include|tests)/'
FormatStyle: file
